header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    color: rgb(139, 137, 135);
    font-size: 1rem;
}
header .logo{
    color: rgb(217, 194, 41);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: auto;
}
header nav{
    display: flex;
    align-items: center;
}
header nav .menu{
    display: flex;
    align-items: center;
}

header nav .menu li a{
    position: relative;
    color: violet;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 40px;
    border-radius: 0.4rem;
    transition: color 0.4 ease;
}
header nav .menu li a:hover{
    color: aliceblue;
}
header nav #toggle{
    font-size: 1.3rem;
    margin-left: 120px;
    cursor: pointer;
}
.home{
    padding: 0 5%;
    color: aquamarine;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.home h1{
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 500;
    margin-top: 10px;
}
.home p{
font-size: 0.85rem;
font-weight: 500;
margin: -10px 0  20px;
}
/* .home button{
    background: red;

} */
.home .images .img-1,
.home .images .img-2,
.home .images .img-3,
.home .images .img-4,
.home .images .img-5,
.home .images .img-6,
.home .images .img-7{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
}
.home .images .img-1{
    background: url(/p.jpeg);
    background-size: cover;
    background-position: center;
}
.home .images .img-2{
    background: url(/s.svg);
    background-size: cover;
    background-position: center;
}
.home .images .img-3{
    background: url(/s.svg);
    background-size: cover;
    background-position: center;
}
.home .images .img-4{
    background: url(/s.svg);
    background-size: cover;
    background-position: center;
}
.home .images .img-5{
    background: url(/s.svg);
    background-size: cover;
    background-position: center;
}
.home .images .img-6{
    background: url(/s.svg);
    background-size: cover;
    background-position: center;
}
.home .images .img-7{
    background: url(/s.svg);
    background-size: cover;
    background-position: center;
}
@media (max-width: 800px)
{
    .home{
        width: 390px;
    }
    .home h1{
        margin-top: 5px;
        font-size: 2.5rem;
        font-weight: 500;
    }
    .home p{
        font-size: 0.7rem;
        margin: 0 0 20px;
    }
    header nav .menu{
        flex-direction: column;
        row-gap: 2rem;
        position: absolute;
        left: -100%;
        top: 100px;
        width: 100%;
        padding-top: 130px;
        background: black;
        height: calc(100vh - 100px);
        z-index: 10;
        transition: left 0.4s ease;
    }
    header nav .menu.active{
        left: 0;
    }
    header nav .menu li a{
        margin-left: unset;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: blueviolet;
        height: 60px;
        width: 250px;
        line-height: 60px;
        display: block;
        text-align: center;
        border-radius: 5px;
        transition: 0.25s ease;
    }
    header nav .menu li a:hover{
        background: red;
        color: aqua;
    }
}